.top-bar {-webkit-box-shadow: 0 1px #BCBCBC;
-moz-box-shadow: 0 1px #BCBCBC;
box-shadow: 0 1px #BCBCBC;}


.top-bar-section ul li > a {color:#1A1A1A}


.top-bar-section li:not(.has-form) a:not(.button):hover { background-color: #F3F3F3;
color:#E85A50}


nav#secondary-menu {
  background-color: #FFF;
  margin-top:40px;
  margin-bottom:40px;
  -moz-box-shadow: 0 3px #EFEFEF;
-webkit-box-shadow: 0 3px #EFEFEF;
box-shadow: 0 3px #EFEFEF;
}

a.secondary-menu-entry-link {
  background-color: #FFF !important;
  color: #1A1A1A !important;
}

a.secondary-menu-entry-link:hover {
  border-bottom: #E85A50 solid 3px;
  color:#E85A50 !important;
}

.f-dropdown:before {border-color: transparent transparent transparent transparent;}

.f-dropdown:after {border-color: transparent transparent transparent transparent;}

#hover1 {top:48px !important;}

.newsletter-banner {margin-top: 25px;
background-color: #EFEFEF;
  padding-top: 20px;
  padding-bottom: 20px;}

h3.banner-title {
  color: #6C6C6C;
  font-size: 1rem;
  line-height: 1rem;
}

p.banner-text {
  color: #6C6C6C;
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-bottom:0;
}

.article {margin-bottom:40px;}

.f-dropdown:hover  + #secondary-menu-bar {border-bottom: #E85A50 solid 3px;}

.button {background-color: #E85A50}
.button:hover {background-color: #C93D33}


.top-bar-section ul li > a.button {background-color: #E85A50}
.top-bar-section ul li > a.button:hover {background-color: #C93D33}

