.menuImg {height:45px;
width:45px;}

.top-bar {background-color:#E85A50
}

.top-bar-section ul li {background-color:#E85A50
}

.top-bar-section ul li a {background-color:#E85A50
}


.top-bar-section li:not(.has-form) a:not(.button) {background-color:#E85A50
}

.profil-image {border-radius:20px;
margin-right:10px
}

.panel {border: solid 0px;
}

.titre-page {  font-size: 1.25rem;
  color: #E85A50;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px #C6C6C6;
  }
  
.date-articles {  font-family: inherit;
  font-weight: bold;
  color: rgb(149, 149, 149);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.25rem;
  text-rendering: optimizeLegibility;
  }

.miniature-article {margin-top:0.5rem;
}
  
.titre-article-main {  font-size: 1.225rem;
	margin-bottom:0;
  color: #595757;
  font-weight: bold;}

.infos-article {  font-size: 0.8rem;
  margin-bottom: 0px;
  color: rgb(126, 126, 126);
  margin-bottom: 0.5rem;}
  
.extrait-article {font-family: inherit;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 1.25rem;}

.article-source {display: inline;
color: #A3A3A3;
font-size: 0.85rem}

.social-column {text-align: center;}

.profil-share {border-radius:20px;
margin-bottom:10px !important;}

.bookmarkon {color:#5BB7B6;
}

.save-article {color: rgb(99, 186, 185);
  border: solid 0px !important;
margin-left: 10px !important;
}

.save-article:before {content:none !important}

.save-article:after {content:none !important}

hr {margin: 1.25rem 0 3.1875rem;}

.article-profil > * {display: inline;}

.inline-list > li > * {display: inline;}

  
#hover1 {padding: 10px;}

.f-dropdown {
background-color: #F5F5F5;
margin-top:0;}
  
.f-dropdown li {font-size: 0.875rem;
  cursor: auto;
  line-height: 1.125rem;
  
 }   
  
.f-dropdown li:hover, .f-dropdown li:focus {background-color:#FFF;}
  
.f-dropdown li a {padding:0px}
  
.f-dropdown li a:hover{font-weight:bold}
  
.miniature-focus {
  line-height: 0;
  display: inline-block;
  border: solid 0px ;
  max-width: 100%;
  box-shadow: 0 0 0 0;
  transition: all 200ms ease-out;}
  
.titre-categorie {  text-transform: uppercase;
  font-weight: bold;
  color: rgb(149, 149, 149);
    border-bottom: solid 2px;}
    
li.titre-categorie{  margin-bottom: 10px;}
  
 .liste-categories {list-style-type:none;
   float: left;
  min-width: 150px;
 }
 
 .categorie {padding-left:0px}

 .dossier {background-color: #E8E8E8;
  margin-bottom: 25px;
  padding: 10px 0px 10px 0px;
 }

 .miniature-dossier {height: 100%;
  width: 100%}

  .titre-dossier-main {  font-size: 1.25rem;
  margin-bottom:0;
color:#595757;
font-weight: bold;
  line-height: 1;}

.infos-dossier {  font-size: 0.8rem;
  margin-bottom: 0px;
  font-weight: bold;
  color: #595757;
  margin-bottom: 0.5rem;
}
  
.extrait-dossier {font-family: inherit;
  font-weight: normal;
  font-size: 0.85em;
  line-height: 1.2;
  margin-bottom: 1.25rem;
color:#595757}

 .dossier-left{background-color: #FFF}

 .top-bar-section .has-dropdown > a:after {
    border-color: #FFFFFF  rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.right-off-canvas-menu {  background: #E85A50;}

ul.off-canvas-list li a {color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #FFFFFF;}
  
  ul.off-canvas-list li a:hover {
  background: #E85A50; 
  font-weight: bold;
}

.tab-bar {background: #E85A50; }

.right-submenu {background: #E85A50; }

.right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:after {
  content: "\BB";
  margin-left: 0.5rem;
  display: inline; }
  
  .right-off-canvas-menu ul.off-canvas-list li.has-submenu > a:before {
  content: none;
  margin-right: 0;
  display: inline;
}

.right-submenu .back > a:after {
  content: none;
  margin-left: 0;
  display: inline;
}

.right-submenu .back > a:before {
  content: "\AB";
  margin-right: 0.5rem;
  display: inline;
}

.partage-validation {border: solid 1px #D5D5D5;
padding:5px;
margin-bottom:40px}




 
 